.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* App.css */
.imagen-pequena {
  height: auto; /* Esto mantiene la proporción de aspecto */
  width: 300px; /* Cambia este valor al tamaño deseado */
}
.contenedor-botones {
  display: flex;
  width: 400px;
}

.boton {
  margin-left: 10px; /* Espacio entre los botones */

  margin-right: 10px; /* Espacio entre los botones */
  padding: 10px 20px; /* Ajusta el tamaño del botón aquí (padding) */
  font-size: 25px; /* Ajusta el tamaño del texto del botón */
}